html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    link(rel='stylesheet', href='form.css')
    |     
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    |     
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    |     
    title Registration Form
  body
    .form_wrapper
      .form_container
        .title_container
          h2 Registration Form
        |     
        .row.clearfix
          div
            form(method='post',action='login/send')
              #ip
                label(for='Name') First Participant Name
                |             
                .input_field
                  span
                    i.fa.fa-user(aria-hidden='true')
                  |                 
                  input.ip1(type='text', name='NAME', placeholder='First Participant Name', required='')
                |       
                |               
                label(for='Email') Email Id
                |           
                .input_field
                  span
                    i.fa.fa-envelope(aria-hidden='true')
                  |             
                  input.ip1(type='email', name='EMAIL', placeholder='Email Id', required='')
                |           
                label(for='contact') Contact-no
                |           
                .input_field
                  span
                    i.fa.fa-user(aria-hidden='true')
                  |             
                  input.ip1(type='text', name='CONTACT', placeholder='Contact-no', maxlength='10', required='')
                |           
                .input_field.select_option
                  label(for='profile') Profile
                  |             
                  select.ip1(name='PROFILE', required='')
                    option(value='') Select a profile
                    |               
                    option(name='caricaturist', value='Caricaturist') Caricaturist
                    |               
                    option(name='photography', value='Photography') Photography
                    |               
                    option(name='reporter', value='Reporter') Reporter
                  |             
                  .select_arrow
              |             
              .input_field.checkbox_option
                input#cb1(type='checkbox', required='')
                |     &#x9;&#x9;&#x9;
                label(for='cb1') I agree with terms and conditions
              |           
              input.button(type='submit', value='Submit')
